.h1 {
    border-bottom: 1px dashed var(--borders-color);
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 1rem 0;
    text-align: center;
    text-indent: 0.1rem;
    text-transform: uppercase;
}